@model WebChat.Common.Models.ChatRoomFromUrlModel
@{
    ViewBag.Title = "chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/emoticons.css" rel="stylesheet" />
<script type="text/javascript">
    var _userId = @Html.Raw(Json.Encode(this.Model.UserId));
    var _recordId = @Html.Raw(Json.Encode(this.Model.RecordId));
    var _roomId = @Html.Raw(Json.Encode(this.Model.RoomId));
   
</script>
<h2>chat</h2>

        <div id="chatRoomView">
            @Html.Partial("_ChatRoomView")
        </div>

        @section scripts {
            <script src="~/Scripts/epironchatTest/EpironChatTest_url.js"></script>
    <script src="~/Scripts/emoticons.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
}
