@{
    ViewBag.Title = "Confirmacion de reseteo de clave";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Mensaje de correo electrónico enviado.  @Html.ActionLink("¿No lo has recibido?", "ForgotPasswordConfirmation", "Account", 
                                                new { email = @ViewData["email"], token = @ViewData["token"] },null
                                                )
       
    </p>
    @*@Html.ActionLink("¿No lo has recibido?", "ForgotPasswordConfirmation", "Account",null,
                                                new { email = @ViewData["email"], token = @ViewData["token"] }
                                                )*@
    <p>
        Te hemos enviado un mensaje por correo electrónico que te permitirá restablecer tu contraseña de manera rápida y fácil.
    </p>
    <p class="text-danger">
       
        <a class="btn btn-primary " target="_blank" href="http://mail.google.com/">Verifica tu correo electrónico</a>
    </p>

    <input type="hidden" value="@Html.Raw(ViewData["token"])" name="Token" />
</div>

