<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>@ViewBag.Title</title>
    <!--[if lte IE 8]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

        
    
             
    <![endif]-->
 
    <!--[if lt IE 8]>
        <link href="~/Content/bootstrap-ie7.css" rel="stylesheet" />
    <![endif]-->

     <!--[if gte  IE 9]>  
    <!--<![endif]-->
    
    @Styles.Render("~/Content/site")
    @Styles.Render("~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/jquery")
    



</head>
<body>

  
    
    <div class="container">
        <div class="row">
            
            @RenderBody()
        </div>
    </div>
    
    <div class="footer navbar navbar-default">
        <div class="container">
            <div class="row ">
                <p>&copy; Company Allus Global BPO 2014 </p>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/jqueryui")
    
    

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    
    
</body>
</html>

