<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/emoticons.css">
    @Styles.Render("~/Content/themes/jq-ui")
    @Styles.Render("~/Content/bootstrapcss")
@*    <link rel="stylesheet"  href="~/Content/Site.css" />*@
    <link rel="stylesheet" media="(max-width: 481px)" href="~/Content/ChatRoomLower.css" />
    <link rel="stylesheet" media="(max-width: 481px)" href="~/Content/SiteLower.css" />

    <link rel="stylesheet" media="(min-width: 481px)" href="~/Content/ChatRoom.css" />
    <link rel="stylesheet" media="(min-width: 481px)" href="~/Content/Site.css" />

    <link rel="stylesheet" href="~/Content/branding.css" />
    @* <link rel="stylesheet"  href="~/Content/ChatRoom.css" />*@
   
@*    <link rel="stylesheet" media="(min-width: 801px)" href="~/Content/Site1.css" />*@

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("styles", required: false)
</head>
<body>  
        @Scripts.Render("~/bundles/jquery")


  <script src="~/Scripts/jquery.popupWindow.js"></script>
            @RenderBody()


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    <script src="~/Scripts/autolink-min.js"></script>
    <script src="~/Scripts/emoticons.js"></script>
    @RenderSection("scripts", required: false)
    @Html.Partial("_MessageBox")
</body>
</html>

