@model WebChat.Common.Models.ChatRoomCreationModel


@using (Ajax.BeginForm("CreateChatRoom", "EpironChatVersion1", new AjaxOptions()
            {
                LoadingElementId = "",
                OnSuccess = "CreateChatRoom_CallBack",
                OnBegin = "CreateChatRoomBefore_CallBack",
                LoadingElementDuration=12
                //OnFailure = "OnFailure"
            }
            ))
{
   

    <div class="modal-dialog">
        <div id="CreateChatDialog" class="panel" >
            <div class="panel-header">
                <div id="div-mark" style="border-bottom: 1px solid #EC5710;padding-bottom: 4px;"><img id="img-epiron" class="img-header" src="~/img/logo-epiron.png"/><img id="img-entorno" class="img-header" src="~/img/ico.png"/></div>
                <img id="img-message" src="~/img/icono-chat.png"  style="margin-top: 20px;"/>
                <span id="span-version"> </span>
                   <div id="alert-text-info-container">
                                    <img id="ajaxloader" src="@Url.Content("~/img/ajax-loader.gif")" />
                                    <div id="alert-text-view-info" class="alert-chat alert alert-warning" style="display: normal;">
                                        <p style="text-align: center;" class="info-text"></p>
                                    </div>
                    </div>
            </div>
            <div id="div-content">

                  @*      @Html.ValidationSummary(true)*@
                        @Html.HiddenFor(model => model.ChatRoomID)
             
                <label>Sala de chat</label>

                            @Html.DropDownListFor(model => model.ChatConfigId, ViewData["ChatConfigList"] as List<SelectListItem>, new { @class = "no-border form-control", @id="option-config" })
                  
                     <label>Email</label>
                    @Html.TextBoxFor(model => model.ClientEmail, new { @class = "no-border form-control", @id="txt-clientEmail" })
                           @* @Html.ValidationMessageFor(model => model.ClientName)*@
                    
                   <label>Nombre</label>
                            @Html.TextBoxFor(model => model.ClientName, new { @class = "no-border form-control", @id="txt-ClientName" })
                         @*   @Html.ValidationMessageFor(model => model.ClientName)*@
                       @* </div>*@
                        <label>Teléfono</label>

                            @Html.TextBoxFor(model => model.Phone, new { @class = "no-border form-control", @id="txt-Phone" })
                          @*  @Html.ValidationMessageFor(model => model.Phone)*@

                        <br />
                        <label>Consulta</label>
                            @Html.TextAreaFor(model => model.InitialMessage, new { @class = "form-control", @rows = 5, @cols = 80,@id="txt-InitialMessage", @style= "resize:none; border: solid 1px #4B4B4B;"})
                   <button id="btnCreateNew" type="submit" class="btn-form">Crear</button>  
                <button id="btnClose" type="button" data-dismiss="modal" class="btn-form">Cerrar</button>
               
                  
            </div>

            <div id="alert-text-view1" class="alert alert-warning" style="display: none; margin: 5px">
                <p id="alert-text-error-tittle" style="font-weight: bold;"> </p>
                <p class="error-text" id="error-text-message"></p>
                <div id="link-email"></div>
            </div>

        </div>
    </div>
    
}
